

<div class="container-fluid text-center-custom">
    <h1>
        <span class="bi bi-list-nested-nav-menu icon-margin" aria-hidden="true"></span>
        Bienvenido a tu Sistema de Inventario
        <span class="bi bi-list-nested-nav-menu icon-margin" aria-hidden="true"></span>
    </h1>
</div>
