
.centered-container[b-jk5l25yr29] {
    display: flex;
    justify-content: center; 
  
}

    .centered-container a[b-jk5l25yr29] {
        color: #006bb7;
        text-decoration: none; 
        transition: text-decoration 0.3s ease; 
    }

        .centered-container a:hover[b-jk5l25yr29] {
            text-decoration: underline; 
        }
